@{
    ViewData["Title"] = "Challenge Completed";
}

<div class="text-center">
    <h1 class="display-4 text-success">Congratulations!</h1>
</div>
<div class="text-center">
    <p class="pt-2">
        You have successfully complete the challenge! Nice work!
    </p>
    <p class="pt-2">
        For more challenges, try looking at the <a asp-controller="Challenge" asp-action="Index" asp-area="">Challenge list</a>. We will try to update with more challenges frequently.
    </p>
    <p>
        If you enjoyed the experience, please share on your social media accounts so more people can come by and learn :)
    </p>
</div>