@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Azure Challenge is an Open Source web application which you can find on <a href="https://github.com/istavrinides/AzureChallenge">GitHub</a>.
    This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.
</p>
<p>
    Topics
</p>
<p>
    <ul>
        <li>
            <a href="#whatadata">What data do we collect?</a>
        </li>
        <li>
            <a href="#howcollect">How do we collect your data?</a>
        </li>
        <li>
            <a href="#howuse">How will we use your data?</a>
        </li>
        <li>
            <a href="#howstore">How do we store your data?</a>
        </li>
        <li>
            <a href="#whatrights">What are your data protection rights?</a>
        </li>
        <li>
            <a href="#cookies">What are cookies?</a>
        </li>
        <li>
            <a href="#usecookies">How do we use cookies?</a>
        </li>
        <li>
            <a href="#typescookies">What types of cookies do we use?</a>
        </li>
        <li>
            <a href="#managecookies">How to manage your cookies</a>
        </li>
        <li>
            <a href="#privacyother">Privacy policies of other websites</a>
        </li>
        <li>
            <a href="#changes">Changes to our privacy policy</a>
        </li>
        <li>
            <a href="#contact">How to contact us</a>
        </li>
        <li>
            <a href="#authority">How to contact the appropriate authorities</a>
        </li>
    </ul>
</p>


<h3 id="whatdata">
    What data do we collect?
</h3>
<p>
    We collect the following data:
    <ul>
        <li>
            Email
        </li>
        <li>
            Phone Number
        </li>
    </ul>
</p>


<h3 id="howcollect">
    How do we collect your data?
</h3>
<p>
    You directly provide us with most of the data we collect. We collect data and process data when you:
    <ul>
        <li>
            Register online.
        </li>
        <li>
            Use or view our website via your browser’s cookies.
        </li>
    </ul>
</p>


<h3 id="howuse">
    How will we use your data?
</h3>
<p>
    We collect your data so that we can:
    <ul>
        <li>
            Email you to complete the registration process.
        </li>
        <li>
            Remember you for Single-Sign On
        </li>
    </ul>
</p>


<h3 id="howstore">
    How do we store your data?
</h3>
<p>
    We securely stores your data in Azure Datacenters. Data is encrypted and access to said data monitored and restricted.
</p>
<p>
    We will keep your email indefinitely until you decide to remove your account or we decide to suspend the service. Deleted data may be in backups for up to 31 days, after which they are irrecoverably deleted.
</p>


<h3 id="whatrights">What are your data protection rights?</h3>
<p>
    We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
</p>
<p>
    <strong>The right to access</strong> – You have the right to request for copies of your personal data. We may charge you a small fee for this service.
</p>
<p>
    <strong>The right to rectification</strong> – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request us to complete the information you believe is incomplete.
</p>
<p>
    <strong>The right to erasure</strong> – You have the right to request that we erase your personal data, under certain conditions.
</p>
<p>
    <strong>The right to restrict processing</strong> – You have the right to request that we restrict the processing of your personal data, under certain conditions.
</p>
<p>
    <strong>The right to object to processing</strong> – You have the right to object to our processing of your personal data, under certain conditions.
</p>
<p>
    <strong>The right to data portability</strong> – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.
</p>
<p>
    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="mailto:az-challenge@outlook.com">az-challenge@outlook.com</a>
</p>


<h3 id="cookies">
    Cookies
</h3>
<p>
    Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our website, we may collect information from you automatically through cookies or similar technology, for non-tracking purposes.
</p>
<p>
    For further information, visit allaboutcookies.org.
</p>


<h3 id="usecookies">
    How do we use cookies?
</h3>
<p>
    We use cookies in a range of ways to improve your experience on our website, including:
    <ul>
        <li>
            Keeping you signed in
        </li>
        <li>
            Understanding how you use our website
        </li>
    </ul>
</p>


<h3 id="typescookies">
    What types of cookies do we use?
</h3>
<p>
    There are a number of different types of cookies, however, our website uses:
    <ul>
        <li>
            Functionality – We use these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. Only first-party cookies are used.
        </li>
    </ul>
</p>


<h3 id="managecookies">
    How to manage cookies
</h3>
<p>
    You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.
</p>


<h3 id="privacyother">
    Privacy policies of other websites
</h3>
<p>
    The website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.
</p>


<h3 id="changes">
    Changes to our privacy policy
</h3>
<p>
    We keep our privacy policy under regular review and place any updates on this web page. This privacy policy was last updated on 28 May 2020.
</p>


<h3 id="contact">
    How to contact us
</h3>
<p>
    If you have any questions about our privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
</p>
<p>
    Email us at: <a href="mailto:az-challenge@outlook.com">az-challenge@outlook.com</a>
</p>


<h3 id="authority">
    How to contact the appropriate authority
</h3>
<p>
    Should you wish to report a complaint or if you feel that we have not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office.
</p>