
@{
    ViewData["Title"] = "Time Limit Reached";
}

<h1>@ViewData["Title"]</h1>
<hr>
<br />
<div class="col-md-12 text-center pt-4">
    You have unfortunately exceeded the maximum time alloted for this Challenge...
</div>

