@using Microsoft.AspNetCore.Identity
@using AzureChallenge.UI.Areas.Identity.Data;
@inject SignInManager<AzureChallengeUIUser> SignInManager
@inject UserManager<AzureChallengeUIUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AzChallenge</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Azure Challenge</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Challenges
                                </a>
                                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">

                                    <a class="nav-link text-white" asp-area="" asp-controller="Challenge" asp-action="Index">All Challenges</a>
                                    <a class="nav-link text-white" asp-area="" asp-controller="Challenge" asp-action="UserChallenges">My Challenges</a>
                                </div>
                            </li>
                            if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Administration
                                    </a>
                                    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-white" asp-area="Administration" asp-controller="Challenge" asp-action="Index">Challenges</a>
                                        <a class="nav-link text-white" asp-area="Administration" asp-controller="Question" asp-action="Index">Question Templates</a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container container-fluid min-vh-100 d-flex flex-column main-bg">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-4">
            @if (SignInManager.IsSignedIn(User))
            {
                var user = await UserManager.GetUserAsync(User);
                if (string.IsNullOrWhiteSpace(user.SubscriptionId) && user.EmailConfirmed)
                {
                    <div id="saveAlert" class="alert alert-warning text-center" role="alert">
                        You have not setup your Azure Subscription details. Please click <a asp-area="Identity" asp-page="/Account/Manage/AzureConfig">here</a> to configure.
                        <br />
                        @if (User.IsInRole("Administrator"))
                        {
                            <span>If you do not do so, you cannot validate any questions or participate in any Challenge</span>
                        }
                        else
                        {
                            <span>If you do not do so, you cannot participate in any Challenge</span>
                        }
                    </div>
                }
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AzChallenge (Beta) - Created by Ioannis Stavrinides - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <a class="text-white" href="https://github.com/istavrinides/AzureChallenge">Fork me on GitHub</a> - <a class="text-white" href="https://github.com/istavrinides/AzureChallenge/issues">Open an Issue</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
