@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

    <div class="text-center pt-5">
        <h1 class="text-warning">Well, this is awkward....</h1>
        <h4 class="pt-4">We deeply apologize for this, but it seems one of ours devs didn't test their code thoroughly.</h4>
        <h5 class="pt-4">The error has been logged and will be dealt with, as will the developer :)</h5>
        <br />
        <img src="/images/facepalm.png" class="pt-5" />
    </div>